*:focus {
  outline: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

*::-moz-selection {
  background-color: #0A6673;
  color: #ffffff;
}

*::selection {
  background-color: #0A6673;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  position: relative;
  background-color: #F4F4F4;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (min-width: 344px) {
  .container {
    padding: 0 10px;
    width: 344px;
  }
}
@media screen and (min-width: 696px) {
  .container {
    width: 696px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1312px) {
  .container {
    width: 1312px;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 8px 0 6px;
  background-color: #008A9C;
  border-radius: 0 0 20px 20px;
}
@media screen and (min-width: 696px) {
  .header {
    padding: 2px 0;
  }
}
@media screen and (min-width: 1312px) {
  .header {
    padding: 9px 0 13px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 600;
  font-size: 24px;
  line-height: 2.5;
  color: #ffffff;
}
@media screen and (min-width: 696px) {
  .header__logo {
    font-size: 26px;
    line-height: 2.3;
  }
}
@media screen and (min-width: 1312px) {
  .header__logo {
    font-size: 30px;
    line-height: 2;
  }
}
.header__list {
  display: none;
}
@media screen and (min-width: 1312px) {
  .header__list {
    display: flex;
    gap: 50px;
  }
}
.header__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 2.5;
  color: #ffffff;
}
.header__btn {
  background-color: transparent;
  padding: 0;
}
@media screen and (min-width: 1312px) {
  .header__btn {
    display: none;
  }
}
.header__burger {
  fill: #ffffff;
}

.hero {
  padding: 75px 0 80px;
}
@media screen and (min-width: 696px) {
  .hero {
    padding: 70px 0 110px;
  }
}
@media screen and (min-width: 1312px) {
  .hero {
    padding: 90px 0 152px;
  }
}
.hero__padding {
  height: 48px;
  width: 100%;
}
@media screen and (min-width: 696px) {
  .hero__padding {
    height: 64px;
  }
}
@media screen and (min-width: 1312px) {
  .hero__padding {
    height: 82px;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}
@media screen and (min-width: 696px) {
  .hero__container {
    gap: 45px;
  }
}
@media screen and (min-width: 1312px) {
  .hero__container {
    flex-direction: row;
    gap: 40px;
  }
}
.hero__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.3;
  color: #363636;
  margin-bottom: 12px;
  max-width: 326px;
}
@media screen and (min-width: 696px) {
  .hero__title {
    font-size: 60px;
    line-height: 1.17;
    margin-bottom: 15px;
    max-width: 577px;
  }
}
@media screen and (min-width: 1312px) {
  .hero__title {
    font-size: 70px;
    line-height: 1.14;
    margin-bottom: 20px;
    max-width: 626px;
  }
}
.hero__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.67;
  color: #363636;
  margin-bottom: 20px;
}
@media screen and (min-width: 696px) {
  .hero__text {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1312px) {
  .hero__text {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
}
.hero__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 3;
  color: #ffffff;
  padding: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008A9C;
  border-radius: 20px;
}
@media screen and (min-width: 696px) {
  .hero__btn {
    font-size: 24px;
    line-height: 2.5;
    padding: 0 70px;
    width: auto;
  }
}
@media screen and (min-width: 1312px) {
  .hero__btn {
    font-size: 30px;
    line-height: 2;
    padding: 0 54px;
  }
}/*# sourceMappingURL=main.css.map */